[submodule "user-service"]
	path = user-service
	url = https://github.com/qtasty-tech/user-service.git
[submodule "order-service"]
	path = order-service
	url = https://github.com/qtasty-tech/order-service.git
[submodule "restaurant-service"]
	path = restaurant-service
	url = https://github.com/qtasty-tech/restaurant-service.git
[submodule "delivery-service"]
	path = delivery-service
	url = https://github.com/qtasty-tech/delivery-service.git
[submodule "admin-service"]
	path = admin-service
	url = https://github.com/qtasty-tech/admin-service.git
[submodule "auth-service"]
	path = auth-service
	url = https://github.com/qtasty-tech/auth-service.git
[submodule "admin-notification-service"]
	path = admin-notification-service
	url = https://github.com/qtasty-tech/admin-notification-service.git
[submodule "payment-service"]
	path = payment-service
	url = https://github.com/qtasty-tech/payment-service.git
[submodule "notification-service"]
	path = notification-service
	url = https://github.com/qtasty-tech/notification-service.git

