version: '3.8'

services:
  user-service:
    build: ./user-service
    ports:
      - "5000:5000"
    networks:
      - qtasty-network
    environment:
      - JWT_SECRET=thisal
      - MONGO_URL=mongodb+srv://Thisal:Thisal@cluster0.fjuv6mx.mongodb.net/user_service?retryWrites=true&w=majority&appName=Cluster0

  order-service:
    build: ./order-service
    ports:
      - "7000:7000"
    networks:
      - qtasty-network
    environment:
      - JWT_SECRET=thisal
      - MONGO_URL=mongodb+srv://Thisal:Thisal@cluster0.fjuv6mx.mongodb.net/order_service?retryWrites=true&w=majority&appName=Cluster0

  restaurant-service:
    build: ./restaurant-service
    ports:
      - "3000:3000"
    networks:
      - qtasty-network
    environment:
      - JWT_SECRET=thisal
      - MONGO_URL=mongodb+srv://Thisal:Thisal@cluster0.fjuv6mx.mongodb.net/resturant_service?retryWrites=true&w=majority&appName=Cluster0

  delivery-service:
    build: ./delivery-service
    ports:
      - "6000:6000"
    networks:
      - qtasty-network
    environment:
      - JWT_SECRET=thisal
      - MONGO_URL=mongodb+srv://Thisal:Thisal@cluster0.fjuv6mx.mongodb.net/delivery_service?retryWrites=true&w=majority&appName=Cluster0

  kafka:
    image: wurstmeister/kafka:latest
    environment:
      - KAFKA_LISTENERS=PLAINTEXT://0.0.0.0:9092
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT
      - KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT
      - KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
    ports:
      - "9092:9092"
    networks:
      - qtasty-network

  zookeeper:
    image: wurstmeister/zookeeper:latest
    environment:
      - ZOOKEEPER_CLIENT_PORT=2181
    ports:
      - "2181:2181"
    networks:
      - qtasty-network

  admin-service:
    build: ./admin-service
    ports:
      - "8000:8000"
    networks:
      - qtasty-network

  auth-service:
    build: ./auth-service
    ports:
      - "9000:9000"
    networks:
      - qtasty-network

networks:
  qtasty-network:
    driver: bridge